@font-face {
    font-family: "zen tokyo zoo";
    src: url(../Font/Zen_Tokyo_Zoo/ZenTokyoZoo-Regular.ttf) ;
}

@font-face {
    font-family: Dosis;
    src : url(../Font/Dosis-VariableFont_wght.ttf)
}

@font-face{
    font-family: "Great vibes" ;
    src : url(../Font/GreatVibes-Regular.ttf)

}
@font-face{
    font-family: "Cooper std" ;
    src : url(../Font/Cooper\ Std\ Black/Cooper\ Std\ Black.ttf)

}
@font-face{

    font-family: MingLiU_HKSCS-ExtB;
    src : url(../Font/MINGLIU.ttf)

}
@font-face{
    font-family: "ink free";
    src : url(../Font/MINGLIU.ttf)
}

