*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    overflow-x: hidden;
}
.container{
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

/* these styles are connected to starting page  */
.container .home-wrapper{
    height:100vh;
    background-image: url("../Image/web-developer-background.jpg");
    background-position: center;
    background-size: 100vw 100vh;
    display:flex;
    align-items : center;
    justify-content:center;
    position: relative;
}
.home-wrapper .blur-background{
    width: 80%;
    height:70%;
    background-color: rgba(0, 0, 0, 0.541);
    backdrop-filter: blur(20px);
    position: static;
    display: flex;
    justify-content: center;
}
.home-wrapper .left-part{
    z-index: 1;
    position: absolute;
    height:60px;
    width:0;
    left: 0;
    top:22%;
    background:#5F98FB;
    color:white;
    direction: rtl;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
    font-family: Dosis;
    padding-right: 10px;
    transition: width 0.7s ease-in;
}
.home-wrapper .blur-background h2{
   position: absolute;
   left: 30%;
   top:22%;
   font-family: "Great vibes";
   font-size: 5rem;
   color: #070707;
   z-index: 1000;
   opacity: 0;
   transition: opacity 0.7s linear;
}
.home-wrapper .blur-background p{
    position: absolute;
    top:45%;
    left: 35%;
    color: whitesmoke;
    font-size: 1.8rem;
    font-family: Dosis;
    display: inline-block;
}
.home-wrapper .blur-background button{
    height: 50px ;
    width: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.6rem;
    color:#5F98FB;
    background-color: #5f98fb31;
    border:2px solid #5F98FB;
    border-radius:20px;
    position: relative;
    top: 70%;
    right: -90%;
    transition: right 0.7s linear;
}
.home-wrapper .blur-background button:hover{
    cursor: pointer;
    background-color:#5F98FB ;
    color:rgb(252, 252, 252);
}
@media only screen and (max-width:900px)
{
    .home-wrapper .left-part{
        font-size: 1.7rem;
        height:50px
    }
    .home-wrapper .blur-background h2{
        font-size: 4.3rem;
        left: 22%;
        top: 25%;

    }
    .home-wrapper .blur-background p {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width:700px)
{
    .home-wrapper .left-part{
        font-size: 1.2rem;
        height:50px
    }
    .home-wrapper .blur-background h2{
        font-size: 3.5rem;
        left: 22%;
        top: 25%;

    }
    .home-wrapper .blur-background p {
        font-size: 1.4rem;
        left: 25%;

    }
    .home-wrapper .blur-background button{
        /* left: 0%; */
        font-size: 1.4rem;
        height:40px;
        width:160px

    }
}
@media only screen and (max-width:576px)
{
    .home-wrapper .left-part{
        font-size: 1rem;
        height:40px;
    }
    .home-wrapper .blur-background h2{
        font-size: 2.4rem;
        left: 22%;
        top: 25%;

    }
    .home-wrapper .blur-background p {
        font-size: 0.8rem;
        left: 25%;
        display: inline-block;

    }
    .home-wrapper .blur-background button{
        /* left: 0%; */
        font-size: 1.1rem;
        height: 40px;
        width: 150px;

    }
}
@media only screen and (max-width:384px)
{
    .home-wrapper .left-part{
        font-size: 1rem;
        height:40px;
    }
    .home-wrapper .blur-background h2{
        font-size: 2rem;
        left: 10%;
        top: 25%;

    }
    .home-wrapper .blur-background p {
        font-size: 0.8rem;
        left: 25%;
        display: inline-block;

    }
    .home-wrapper .blur-background button{
        /* left: 0%; */
        font-size: 1.1rem;
        height: 40px;
        width: 150px;

    }
}
/* these styles are connected to hidden side bar  */
.sidebar-wrapper{
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background:linear-gradient(67deg , #212020 , #110f0f) ;
    z-index: 10000;
    color: rgb(214, 214, 214);

}
.sidebar-wrapper>li {
    position: absolute;
    right: 8%;
    top: 10%;
    font-size: 2rem;
    padding:0 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
.sidebar-wrapper>li:hover{
    cursor: pointer;
    background:whitesmoke;
    color:#110f0f ;
}
.sidebar-wrapper nav{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.sidebar-wrapper nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sidebar-wrapper nav ul li {
    padding: 2%;
    list-style: none;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.sidebar-wrapper nav ul li:hover{
    cursor: pointer;
    background: whitesmoke;
    color:#110f0f ;
    border-radius: 5px;
}
/* these are styles connected to about part and fixed menu bar */
.top-menu-wrapper{
  height: 60px;
  width: 100%;
  background-color: #212020;
  border-bottom: 4px solid #5F98FB;
  
}
.top-menu-wrapper.position {
    position: fixed;
    top: 0;
    z-index: 500;
}
.top-menu-wrapper nav {
    width: 70%;
    margin: auto;

}
.top-menu-wrapper nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
.top-menu-wrapper nav ul li {
    list-style: none;
    color: blanchedalmond;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    /* padding: 20px; */
   
}
.top-menu-wrapper nav ul li:hover {
   color: #5F98FB;
    /* border: 2px solid #5F98FB; */
    border-radius: 10px;
   
}
.top-menu-wrapper>li{
    color: blanchedalmond;
    font-size: 1.5rem;
    padding: 5px 0 0 15px;
    display: none;

}
.top-menu-wrapper>li:hover{
    color: #5F98FB ;
    cursor: pointer;
}
.about-wrapper{
    display:flex;
    width:80%;
    max-height: 88vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    min-height: 80vh;
    /* gap: 10%; */
    
    
}
.about-wrapper .mobile-header{
    display:none;
    color:#5F98FB;
    font-family: century;
}
.about-wrapper .img-wrapper{
    width: 30%;
    height: 30%;
    /* overflow: hidden; */
    position: relative;
}
.img-wrapper .img-background{
    height: 300px;
    width:300px;
    background-color: black;
    z-index:0 ;
}
.about-wrapper .img-wrapper img{
    position: relative;
    left: 20px;
    top : -280px;
    height: 300px;
    width: auto;
    z-index: 10;
    border: 2px solid #5F98FB;
    
}
.info-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */

}
.info-wrapper h1{
    display: block;
    color: #5F98FB;
    font-size: 3rem;
    /* margin: auto; */
    margin-bottom: 18%;
    font-family: century;
}
.info-wrapper p {
    font-family: "cooper Std";
    margin-bottom: 10%;
}
@media only screen and (max-width : 1000px)
{
    .img-wrapper .img-background{
        height:200px;
        width:200px;
    }
    .about-wrapper .img-wrapper img {
        height: 200px;
        width:200px;
        top: -180px;
    }
}  
@media only screen and (max-width: 778px)
{
    .info-wrapper h1{
        font-size:2.1rem
    }
    .info-wrapper p{
        font-size:0.8rem
    }
    .container .top-menu-wrapper{
        height:40px
    }
    .top-menu-wrapper nav ul li{
        font-size:0.9rem
    }
} 
@media only screen and (max-width: 610px)
{
    .top-menu-wrapper nav{
        display: none;
    }
    .top-menu-wrapper>li{
        display:inline-block;
    }
    .about-wrapper{
        flex-direction: column;
        margin-top: 50px;
        max-height:none;
        
    }
    .about-wrapper .img-wrapper{
        width: 100%;
        left : 12%
    }
    .about-wrapper .mobile-header{
        display: block;
        margin: auto;
        margin-bottom: 15%;
    }
    .info-wrapper{
        width: 100%;
    }
    .info-wrapper h1{
        display: none;
    }
}
.tech-info-wrapper{
    width: 100%;
    background: linear-gradient( 180deg , #03034B ,#4C07FC  , #5C03F8);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E2E2E2;
}
.tech-info-wrapper .statistics-p1-wrapper{
    width:100%;
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    align-items: center;

} 
.statistics-p1-wrapper .statistics{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}.statistics .statistic-item{
    width: 60%;
    display: grid;
    grid-template-columns: 13% auto;
    align-items: center;
    /* justify-content: flex-start; */
    padding: 2% 0 ;
}
.statistic-item p {
    justify-self: start;
    font-weight: 600;
}
.statistic-item .percent-container {
    height: 30px;
    width: 80%;
    background-color: #E2E2E2;
    justify-self: end;
    display: grid;
    grid-template-columns: auto 12%;
    align-items: center;
    color: #4a4a4a;
}
.percent-container p{
    width: 100%;
    display: flex;
    justify-content: center;
}
.percent-container .percentage{
    height: 100%;
    background-color: #5F98FB;
    
    
}
.html-wrapper .percent-container .percentage ,
.css-wrapper .percent-container .percentage{
    width: 85%;
}
.js-wrapper .percent-container .percentage{
    width: 80%;
}
.adobe-xd-wrapper .percent-container .percentage{
    width: 60%;
}
.photoshop-wrapper .percent-container .percentage{
    width: 30%;
}
.tools-wrapper{
    width: 100%;
    padding: 1%;

}
.tools-wrapper .tools-p2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #1e1e1e;
    border: 7px solid #ffffff;
    border-radius: 12px;
    padding: 3% 0;
}
.tools-p2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}
.tools-p2 div h2{
    margin-bottom: 50px;
}
.tools-p2 div ul li {
    list-style: none;
    padding: 10px;
    color: #b9b8b8;
}
@media only screen and (max-width:760px)
{
    .statistics-p1-wrapper .statistics{
        width: 100%;
    }
    .statistics .statistic-item{
        width:80%;
    }
    .tools-p2 div ul li {
        padding: 5px;
    }
}
@media only screen and (max-width:500px)
{
    .tech-info-wrapper {
        font-size:0.7rem
    }
    .tools-p2{
        border-width: 4px;
    }
    .tools-p2 div h2 {
        margin-bottom: 20px;
    }
} 